# **Homework - Week 1 (Optional Practice)**

---
**Topics Covered in the Homework:**

*   Print functions
*   Variables
*   Arithmetic operators
*   Lists
*   Functions



**NOTE:** This Python practice is **optional**. These problems are intended to give you some more practice with the Python concepts we have learned. It is a good idea to try at least one or two problems in each section, but if you are confident with that material then you can skip the rest of the problems and move onto the next section.

---

## **The Print Function**
---

#### **Problem #1:** Print `Hello friends.`

In [ ]:
print("Hello friends.")

Hello friends.

#### **Problem #2:** Print the number `10`.

In [ ]:
print(10)

10

#### **Problem #3:** Print the names of three countries.

In [ ]:
print("Three countries in South America: Colombia, Venezuela, and Brazil!")

Three countries in South America: Colombia, Venezuela, and Brazil!

#### **Problem #4:** Print the year.

In [ ]:
print(2022)

2022

## **Variables**

#### **Problem #1:** Create a variable called `popular_name` and assign it to the name 'Olivia'.

In [ ]:
popular_name = "Olivia"

#### **Problem #2:** Create a variable `birth_year` and set it equal to the year your were born. Then print, `"I was born in <birth_year>"`

In [ ]:
birth_year = 2006
print("I was born in " + str(birth_year))

I was born in 2006

#### **Problem #3:** Create a variable `name` and assign it to your name. Print `name`.

In [ ]:
name = "Sebastian Rodriguez"
print(name)

Sebastian Rodriguez

#### **Problem #4:** Label the following data types.

**NOTE**: You can change the text below by double clicking on the cell.

```
2 - int
8.9 - float
"Train" - string
["string"] - list
5.0 - float
```

#### **Problem #5:** Using only variables, print the statement `"I love coding"`.

In [ ]:
# what do y'all mean?!?!
a = "I love coding"
print(a)

I love coding

## **Arithmetic**

#### **Problem #1**: Print the result of 6 divided by 3.

In [ ]:
result = 6/3
print(result)

2.0

#### **Problem #2**: Print 2 + 2.

In [ ]:
result = 2 + 2
print(result)

4

####  **Problem #3:** Use code to solve this problem: Jenny had 25 marbles. She received ten more from her best friend, Alexa. Jenny's younger brother took 20 marbles from Jenny's room. How many marbles does Jenny have now?

In [ ]:
jenny = 25
alexa = 10
jenny += alexa
brother = 20
jenny -= brother
print(jenny)

15

## **Comments and Debugging**

####  **Problem #1**: The code below is intended to output the number 6, but this doesn't happen when you run it (try it for yourself). Correct the code so that it works properly.

In [ ]:
x = 12
y = 2
print(x / y) #you can't divide strings silly goose!

6.0

####  **Problem #2**: Identify the errors in the following code:

In [ ]:
question = "What is a collection of quantum gates called?" # you need to put quotation marks around the string!
print("My question is "+ question) # don't capitalize print... also you have to use open and closed quotation marks, not just open

My question is What is a collection of quantum gates called?

## **Lists**
---

Use the list `temperatures` below to answer Problems #1-4.

In [ ]:
temperatures = [60, 66, 42, 38, 71]

#### **Problem #1:**  Replace `42` with 50.

In [ ]:
temperatures[2] = 50

#### **Problem #2:** Drop value 71.

In [ ]:
temperatures.remove(71)

#### **Problem #3:** Add value 65.

In [ ]:
temperatures.append(65)

#### **Problem #4** Replace 65 with 85.

In [ ]:
print(temperatures)
temperatures[len(temperatures) - 1] = 85
print(temperatures)

[60, 66, 50, 38, 65]
[60, 66, 50, 38, 85]

Use the list `subjects` below to answer Problems #5-9.

In [ ]:
subjects = ["Math", "Physics", "Chemistry", "Biology"]

#### **Problem #5:** Add Calculus.

In [ ]:
subjects.append("Calculus")

#### **Problem #6:** Drop Math.

In [ ]:
subjects.remove("Math")

#### **Problem #7:** Replace Physics with AP Physics.

In [ ]:
subjects[0] = "AP Physics"

#### **Problem #8:** Replace Biology with AP Bio.

In [ ]:
subjects[2] = "AP Bio"
print(subjects)

['AP Physics', 'Chemistry', 'AP Bio', 'Calculus']

#### **Problem #9:** Drop Calculus.

In [ ]:
subjects.remove("Calculus")

Use the list `attendance` below to answer Problems #10-14.

In [ ]:
attendance = ["Ellie", "Kyle", "Deiondre", "Zoe", "Joaquin", "Jo", "Liv"]

#### **Problem #10:** You forgot to add a student. Add Valentina.

In [ ]:
attendance.append("Valentina")

#### **Problem #11:** Joaquin accidentally got marked present when he is absent. Remove Joaquin.

In [ ]:
attendance.remove("Joaquin")

#### **Problem #12:** It looks like one fo the names wasn't typed correctly. Change "Jo" to "Josh".

In [ ]:
#print(attendance)
attendance[4] = "Josh"

#### **Problem #13:** Kyle prefers going by Ky. Update the attendance to reflect this preference.

In [ ]:
#print(attendance)
attendance[1] = "Ky"

#### **Problem #14:** Another student arrived. Add Akilah to the attendance.

In [ ]:
attendance.append("Akilah")

## **Defining Functions**
---

#### **Problem #1.** How many parameters does the following function have?

```
def hello():
  print("Hello!")
```

In [ ]:
print("Technically 0, not sure if void is a thing in python, because then it might be 1? Going with 0 though!")

Technically 0, not sure if void is a thing in python, because then it might be 1? Going with 0 though!

#### **Problem #2:** Looking at the following function, describe what it will do when called.
```
def mystery(x, y):
  print(x + y)
```

In [ ]:
print("The function takes in two numbers, x and y, and prints the sum of them")

The function takes in two numbers, x and y, and prints the sum of them

#### **Problem #3:** How many paramters does the following function have?
```
def params(param):
  print("You passed " + str(param) + " as a parameter")
```

In [ ]:
print(1)

1

#### **Problem #4:** Fill in the following function so it will add the first two numbers, then subtract the third and print the result.

In [ ]:
def math_func(num1, num2, num3):
  num4 = num1 + num2
  num4 -= num3
  print(num4)

#### **Problem #5:** Fill in the following function so it prints the two names in the format: `"Name One: <name1>, Name Two: <name2>"`

In [ ]:
def two_names(name1, name2):
  print("Name One: " + name1 + ", Name Two: " + name2)

#### **Challenge Problem:** Create a function that accepts two strings and prints both of them with a space between them.

In [ ]:
def twoStrings(string1, string2):
  print(string1 + " " + string2)

#### **Challenge Problem:** Write a function that accepts two parameters. One being a list, and the other an item to add to the list. Add the item to the list, then print this new list.

In [ ]:
def add_to_list(list_name, item):
  print(list_name.append(item))

---
Copyright 2022 The Coding School, All rights reserved