# Week 2 Homework: Exploratory Data Analysis (EDA)
---
In this week's homework, you'll practice the exploratory data analysis (EDA) skills you learned during lecture and lab this week. You will work with three datasets and learn more about them.

There is optional additional practice to practice data cleaning and wrangling if your lab group completed those sections.

##### **Make sure to run these libraries before starting.**

In [ ]:
# import pandas as pd 
import pandas as pd

# Import datasets submodule
from sklearn import datasets

## **Dataset #1**
---

The dataset below contains information about 10 U.S. States in alphabetical order.

In [ ]:
df = pd.DataFrame({'U.S. State':['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia'], 
                         'Size (mi)': [52420, 665384, 113990, 53178, 163695, 104094, 5543, 2489, 65758, 59425], 
                         'Number of U.S. Representatives':[7, 1, 9, 4, 53, 7, 5, 1, 27, 14]})

In [ ]:
df

    U.S. State  Size (mi)  Number of U.S. Representatives
0      Alabama      52420                               7
1       Alaska     665384                               1
2      Arizona     113990                               9
3     Arkansas      53178                               4
4   California     163695                              53
5     Colorado     104094                               7
6  Connecticut       5543                               5
7     Delaware       2489                               1
8      Florida      65758                              27
9      Georgia      59425                              14

#### **Exercise 1:** How many variables are there?

In [ ]:
df.size

30

#### **Exercise 2:** What is the data type of `U.S. State`?

In [ ]:
df.dtypes

U.S. State                        object
Size (mi)                          int64
Number of U.S. Representatives     int64
dtype: object

#### **Exercise 3:** What is the mean of the variable `Size`?

In [ ]:
df.describe()

           Size (mi)  Number of U.S. Representatives
count      10.000000                       10.000000
mean   128597.600000                       12.800000
std    194780.758633                       16.047153
min      2489.000000                        1.000000
25%     52609.500000                        4.250000
50%     62591.500000                        7.000000
75%    111516.000000                       12.750000
max    665384.000000                       53.000000

#### **Exercise 4:** What is the average number of U.S. House of Representatives that each state has?

In [ ]:
df["Number of U.S. Representatives"].mean()

12.8

## **Dataset #2**
---

This DataFrame loads data from the NBA including the game matchups, location, all shots taken, when on the shot clock they were taken, whether the shot was a make or a miss, the shooter, the closest defender, and more.

Each row represents a possesion prior to a shot.

In [ ]:
#load CSV
url = "https://raw.githubusercontent.com/the-codingschool/datascience/master/Unit%202/shot_logs.csv"
basketball_df = pd.read_csv(url)

#### **Problem #1**. How many rows are there? Print the shape of the DataFrame.

In [ ]:
print(basketball_df.shape)
print("There are 128069 rows in the DataFrame")

(128069, 21)
There are 128069 rows in the DataFrame

#### **Problem #2**. What is the datatype of `DRIBBLES`?

In [ ]:
basketball_df["DRIBBLES"].dtypes

dtype('int64')

#### **Problem #3**: What are the mean number of dribbles per possesion? Use `DRIBBLES` as the feature.

In [ ]:
basketball_df["DRIBBLES"].mean()

2.023354597912063

#### **Problem #4**: Examine the value counts of the `player_name` column.

In [ ]:
basketball_df["player_name"].value_counts()

james harden         1054
mnta ellis           1052
lamarcus aldridge    1050
damian lillard        986
lebron james          978
                     ...
alan crabbe            94
mike miller            94
joey dorsey            93
jerome jordan          88
greg smith             47
Name: player_name, Length: 281, dtype: int64

#### **Problem #5**: Which player had the ball on the 1000th possession?

In [ ]:
basketball_df["player_name"][999]
#I assume the 999th spot would be the 1000th possession if the rows start at index 0?

'al jefferson'

#### **Problem #6**: Were more shots made or missed by players? Use the feature `SHOT_RESULT`.

In [ ]:
print( basketball_df["SHOT_RESULT"].value_counts() )
print()
print("More shots were missed than made by players")

missed    70164
made      57905
Name: SHOT_RESULT, dtype: int64

More shots were missed than made by players

#### **Problem #7:** What was the median for the final margin in each basketball game? Use the feature `final_margin`.

In [ ]:
basketball_df["FINAL_MARGIN"].median()

1.0

### **Dataset #3**
---

This dataset contains information collected by the U.S Census Service concerning housing in the area of Boston, Massachusetts. It is a very commonly used dataset within the machine learning space - this particular version is the original *raw* version. It contains `Nan` values and anomalous results.


**There are 11 attributes in each case of the dataset.**

`CRIM` - per capita crime rate by town 

`ZN` - proportion of residential land zoned for lots over 25,000 sq.ft.

`INDUS` - proportion of non-retail business acres per town.

`CHAS` - Charles River dummy variable (1 if tract bounds river; 0 otherwise)

`NOX` - nitric oxides concentration (parts per 10 million)

`RM` - average number of rooms per dwelling

`AGE` - proportion of owner-occupied units built prior to 1940

`DIS` - weighted distances to five Boston employment centres

`RAD` - index of accessibility to radial highways

`TAX` - full-value property-tax rate per $10,000

`PTRATIO` - pupil-teacher ratio by town

More information about the dataset can be found [here](https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html).

**Run the code below to load the dataframe:**

In [ ]:
data_url = "http://lib.stat.cmu.edu/datasets/boston"
df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO']
df.columns = columns

#### **Exercise 1:** Using only the DataFrame attributes, how many rows of data does the DataFrame have?

In [ ]:
print(df.shape)
print()
print("There are 1012 rows of data in the DataFrame")

(1012, 11)

There are 1012 rows of data in the DataFrame

#### **Exercise 2:** What is the average number of rooms per home?

In [ ]:
#RM attribute lists "average number of rooms per dwelling"
df["RM"].mean()

6.284634387351779

#### **Exercise 3:** What is the median of the `DIS` feature?

In [ ]:
df["DIS"].median()

3.2074499999999997

#### **Exercise 4:** Index the 494th row.

In [ ]:
df.iloc[494:495]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO
494,0.19657,22.0,5.86,0.0,0.431,6.226,79.2,8.0555,7.0,330.0,19.1

#### **Exercise 5:** How much mitric oxides concentration is there in total?

In [ ]:
#NOX - nitric oxides concentration (parts per 10 million)

#is the question adding for the sum of the concentrations?

df["NOX"].sum()

280.6757

#### **Exercise 6:** Which feature(s) have the most missing data?

In [ ]:
print(df.info() )
print()
print("The CHAS, NOX, RM, AGE, DIS, RAD, TAX, and PTRATIO features have the most missing data")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012 entries, 0 to 1011
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     1012 non-null   float64
 1   ZN       1012 non-null   float64
 2   INDUS    1012 non-null   float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
dtypes: float64(11)
memory usage: 87.1 KB
None

The CHAS, NOX, RM, AGE, DIS, RAD, TAX, and PTRATIO features have the most missing data

### **Data Cleaning # 1 [Optional]**

---

Let's pretend you are a nutritionist looking at the prices of certain fruits to provide info to your client.

In [ ]:
fruit_df = pd.DataFrame({ 
    'fruit': ['apple','banana','cherry', 
              'dates','elderberry'], 
    'price':[1.00 , 0.50, None, 2.50, None]}) 
fruit_df

        fruit  price
0       apple    1.0
1      banana    0.5
2      cherry    NaN
3       dates    2.5
4  elderberry    NaN

#### **Exercise 1:** Use mean to fill in the missing values from the `fruit_df` DataFrame given in the previous problem and save as a new DataFrame `df_filled_mean`. Then check to make sure it worked.

In [ ]:
average = fruit_df["price"].mean()

print("This is the average: " + str(average))

df_filled_mean = fruit_df
df_filled_mean["price"] = df_filled_mean["price"].fillna(value = average)

print()
print(df_filled_mean)

This is the average: 1.3333333333333333

        fruit     price
0       apple  1.000000
1      banana  0.500000
2      cherry  1.333333
3       dates  2.500000
4  elderberry  1.333333

### **Data Cleaning # 2 [Optional]**
---

Medical data at a local urgent care is recorded in a DataFrame. Patients are given a unique id upon entry and are charged according to their age and symptoms.

In [ ]:
medical_df = pd.DataFrame({'patient id':[100, 101, 102, 103, 104, 105, 106, 107, 108, 109], 
                         'age': [10, 13, 15, 17, 19, 18, 16, 12, 14, 11], 
                         'symptom':[None, 'flu', 'headache', 'headache', 'flu', None, None, 'headache', 'flu', None], 
                         'charge':[30.00, None, 35.00, 36.00, 39.00, 38.00, 36.00, 32.00, 33.00, None]})

In [ ]:
medical_df

   patient id  age   symptom  charge
0         100   10      None    30.0
1         101   13       flu     NaN
2         102   15  headache    35.0
3         103   17  headache    36.0
4         104   19       flu    39.0
5         105   18      None    38.0
6         106   16      None    36.0
7         107   12  headache    32.0
8         108   14       flu    33.0
9         109   11      None     NaN

#### **Exercise 1:** Using the calculated mean below, use `fillna()` to replace NA values in the `"charge"` column.

In [ ]:
chargeAverage = medical_df["charge"].mean()

print("This is the average of the charge column: " + str(chargeAverage))

medical_df["charge"] = medical_df["charge"].fillna(value = chargeAverage)

print()
print(medical_df)

This is the average of the charge column: 34.875

   patient id  age   symptom  charge
0         100   10      None  30.000
1         101   13       flu  34.875
2         102   15  headache  35.000
3         103   17  headache  36.000
4         104   19       flu  39.000
5         105   18      None  38.000
6         106   16      None  36.000
7         107   12  headache  32.000
8         108   14       flu  33.000
9         109   11      None  34.875

#### **Exercise 2:** Drop all the null values, and compare the shape of the DataFrame before and after. How many rows were dropped?

In [ ]:
new_medical_df = medical_df.dropna(axis=0, how='any', subset=None)

print("The shape of the original DataFrame is: " + str(medical_df.shape))
print("The shape of the new DataFrame is: " + str(new_medical_df.shape))

print()
print("A total of four rows were dropped!")

The shape of the original DataFrame is: (10, 4)
The shape of the new DataFrame is: (6, 4)

A total of four rows were dropped!

#### **Exercise 3:** What is the average cost of going to this clinic?

In [ ]:
#getting the average for the new clinic?
newAvgCost = new_medical_df["charge"].mean()

print("The average cost of going to this new clinic is: $" + str(newAvgCost))

The average cost of going to this new clinic is: $34.979166666666664

---
Copyright 2022 The Coding School, All rights Reserved