### **Practice #0**
---
Let's start with some Python practice.

#### **Exercise 1:** Print out the phrase "Hello, my name is ___" with your name.

In [ ]:
print("Hello, my name is Sebastian Rodriguez")

Hello, my name is Sebastian Rodriguez

#### **Exercise 2:** Print out the result of adding 2 + 3.0.

In [ ]:
print(2+3.0)

5.0

#### **Exercise 3:** Make a variable called `favorite_animal` and store the name of your favorite animal in it. Then print it out.

In [ ]:
favorite_animal = "Capybara"
print(favorite_animal)

Capybara

#### **Exercise 4:** Complete the code below so that it calculates and prints your age in days.

In [ ]:
my_age = 16
days_in_year = 365

age_in_days = my_age * days_in_year
print(age_in_days)

5840

#### **Exercise 5:** Print the word "Howdy!" using the provided list.

In [ ]:
phrases = ["Hi", "Hello", "Howdy", "Hiya"]
print(phrases[2] + "!")

Howdy!

#### **Exercise 6:** Add the element 2.8 to this list using append and print the updated list.

In [ ]:
my_list = [1.4]
my_list.append(2.8)
print(my_list)

[1.4, 2.8]

#### **Exercise 7:** Remove 1.4 from this list and print the updated list.

In [ ]:
my_list.remove(1.4)
print(my_list)

ValueError: ignored

#### **Exercise 8:** How many arguments does the function below take?

In [ ]:
def mystery_function(earth, wind, fire):

  print("Do you remember, " + str(earth) + str(wind) + str(fire))


print("This function takes in three arguments! Pretty Groovy!")

This function takes in three arguments! Pretty Groovy!

#### **Exercise 9:** What will happen when we call func(1, 2, 3)?

In [ ]:
def func(a, b, c):

  out = a * b * c
  print(out)

print("The function will print out the product of a, b, and c")

The function will print out the product of a, b, and c

#### **Exercise 10:** Call the function defined below so that it outputs the word "badger".

In [ ]:
def print_word(word):
  print(word)

print_word("badger")

badger

#### **Exercise 11:** Call the function below so that you print the sentence, "Happy Birthday Tanya".

In [ ]:
def happy_birthday(name):

  return "Happy Birthday " + name

print(happy_birthday("Tanya") )

Happy Birthday Tanya

#### **Exercise 12:** Complete the code below so that the function returns the sum of the two values provided.

In [ ]:
def add(num1, num2):
  return num1 + num2

add(3,4)

7

### **Practice #1**
---

This is one of scikit-learn's built-in datasets called iris (scikit-learn is a machine learning library that we'll start using in a few weeks!). This is a very famous and well-known dataset. The dataset contains information on several different types of irises.

#### **Exercise 0:** Read the dataset.

In [ ]:
# import pandas as pd 
import pandas as pd

# Import datasets submodule
from sklearn import datasets

In [ ]:
# Load dataset (actual data with associated documentation)
iris = datasets.load_iris()

# Create dataframe
iris_df = pd.DataFrame(data=iris.data,columns=iris.feature_names)

# Add species to dataset
iris_df['species'] = iris.target_names[iris.target]

**Note:** When the dataset was read, it was named `iris_df`. Typically, we name our dataframes `df`; since it is called `iris_df`, you will need to use this name throughout.

#### **Exercise 1:** How many variables are there?

In [ ]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

#### **Solution**

In [ ]:
#5 variables

iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

#### **Exercise 2:** What is the datatype of `sepal width (cm)`?

In [ ]:
iris_df.info()
print()
iris_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

#### **Solution**

In [ ]:
#float

iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

#### **Exercise 3:** How many unique values are there for `species`? What are they?

In [ ]:
iris_df['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

#### **Solution**

In [ ]:
# 3
iris_df['species'].value_counts()

#### **Exercise 4:** What is the **mean** for petal width?

In [ ]:
print(iris_df['petal width (cm)'].describe() )
#or
print()
print(iris_df.describe()) # look at the column you need
#ORRR
print()
print(iris_df['petal width (cm)'].mean())

count    150.000000
mean       1.199333
std        0.762238
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: petal width (cm), dtype: float64

       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)
count        150.000000
mean           1.199333
std            0.762238
min            0.100000
25%            0.300000
50%            1.300000
75%            1.800000
max            2.500000

1.1993333333333336

#### **Exercise 5:** What is the **mean** for sepal length?

In [ ]:
iris_df['sepal length (cm)'].mean()

5.843333333333334

---

### Back to Lecture

---

### **Practice #2**
---

#### **Exercise 1:** Using the iris dataset, try the different attributes: `index`, `columns`, `dtypes`, `size`, `shape`, and `ndim`. What is their purpose? What have you learned about the dataset from them?

In [ ]:
iris_df.index
#starts at 0 to 149 (stop is non-inclusize, think of it as size()), also it adds one each time (step)

RangeIndex(start=0, stop=150, step=1)

In [ ]:
iris_df.columns
#shows all the columns in the dataset!, plus the datatype

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'species'],
      dtype='object')

In [ ]:
iris_df.dtypes
#shows the datatypes of the data in each column

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
species               object
dtype: object

In [ ]:
iris

#### **Solution**

#### **Exercise 2:** First, print the sum of all of the values for sepal length. Then, try printing the sum of the `species` variable. Why won't it work?

In [ ]:
print(iris_df['sepal length (cm)'].sum())

876.5

In [ ]:
print(iris_df['species'].sum())

setosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosaversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorvirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginica

#### **Solution**

In [ ]:
print(iris_df['sepal length (cm)'].sum())

In [ ]:
print(iris_df['species'].sum())

setosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosaversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorvirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginica

---

### Back to Lecture

---

### **Practice #3**
---
Let's continue using the iris dataset to explore specific columns.

#### **Exercise 1:** Explore the column `sepal length (cm)`.

In [ ]:
print(iris_df['sepal length (cm)'])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

####**Solution**

In [ ]:
print(iris_df['sepal length (cm)'])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

#### **Exercise 2:** Print the entire 55th row.

In [ ]:
display(iris_df.iloc[55])

sepal length (cm)           5.7
sepal width (cm)            2.8
petal length (cm)           4.5
petal width (cm)            1.3
species              versicolor
Name: 55, dtype: object

#### **Solution**

In [ ]:
display(iris_df.iloc[55])

#### **Exercise 3:** What is the 30th value for `petal length (cm)`?

In [ ]:
print( iris_df['petal length (cm)'][30])
#or, with the iloc syntax
print()
print( iris_df.iloc[30, 2]) #row then column

1.6

1.6

#### **Solution**

In [ ]:
print(iris_df['petal length (cm)'][29])

#### **Exercise 4:** Print the entire 4th column.

In [ ]:
print(iris_df['species'])

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

#### **Exercise 5:** What is the 91st value for `petal width (cm)`?

In [ ]:
print(iris_df['petal width (cm)'][91])

1.4

---

### Back to Lecture

---

### **Practice #4 [Optional]**
---

The dataset below contains information about special agents.

In [ ]:
df = pd.DataFrame(
  {'Agent':['001','002','003','004','005', '006','007','008','009','010'],
  'Years of Training':[5,20,30,2,0,2,11,18,2,1],
  'Height (cm)':[152.4,150,182.9,184,171.6,148.2,156.2,175.3,170,150.2],
  'Location':['LA','DC','LA', 'LA', 'NYC', 'DC', 'NYC', 'DC','DC','SF'],
  'Name':['Abey','Sarah','Duante', 'Morgan', 'Akando', 'Britany', 'Alayah', 'Aponi','Amir','Harry']})
df

  Agent  Years of Training  Height (cm) Location     Name
0   001                  5        152.4       LA     Abey
1   002                 20        150.0       DC    Sarah
2   003                 30        182.9       LA   Duante
3   004                  2        184.0       LA   Morgan
4   005                  0        171.6      NYC   Akando
5   006                  2        148.2       DC  Britany
6   007                 11        156.2      NYC   Alayah
7   008                 18        175.3       DC    Aponi
8   009                  2        170.0       DC     Amir
9   010                  1        150.2       SF    Harry

#### **Exercise 1:** How many variables are there?

#### **Solution**

In [ ]:
#5
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Agent              10 non-null     object
 1   Years of Training  10 non-null     int64
 2   Height (cm)        10 non-null     float64
 3   Name               10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes

#### **Exercise 2:** How many rows are there?

#### **Solution**

In [ ]:
# 10
df.shape

(10, 5)

#### **Exercise 3:** What type of variable is `height`?

#### **Solution**

In [ ]:
#float
df.dtypes

#### **Exercise 4:** What are the possible values for the variable `Location`?

#### **Solution**

In [ ]:
# 4
df['Location'].value_counts()

#### **Exercise 5:** How many years of training have the agents had collectively?

#### **Solution**

In [ ]:
#91 years
df['Years of Training'].sum()

91

#### **Exercise 6:** What is the average number of years of training among the agents?

#### **Exercise 7:** How many agents live in New York City?

#### **Exercise 8:** What is the median height among the agents?

#### **Exercise 9:** Explore the column `Name`.

#### **Exercise 10:** Explore the row for Agent #003.

#### **Exercise 11:** Explore the row for Agent #009.

---

#### Back to Lecture

---

### **Practice #5**
---

We'll continue using the iris dataset to rename, add, and drop columns. Remember the dataframe for iris is called `iris_df`.

#### **Exercise 1:** Rename `"sepal length (cm)"` to `"sepal length"`.

#####**Solution**

In [ ]:
iris_df = iris_df.rename(columns={"sepal length (cm)": "sepal length"})
iris_df.head()

   sepal length  sepal width (cm)  petal length (cm)  petal width (cm) species
0           5.1               3.5                1.4               0.2  setosa
1           4.9               3.0                1.4               0.2  setosa
2           4.7               3.2                1.3               0.2  setosa
3           4.6               3.1                1.5               0.2  setosa
4           5.0               3.6                1.4               0.2  setosa

#### **Exercise 2:** Rename `"sepal width (cm)"` to `"sepal width"`.

#### **Solution**

In [ ]:
iris_df = iris_df.rename(columns={"sepal width (cm)": "sepal width"})
iris_df.head()

#### **Exercise 3:** Remove the `"petal length (cm)"` column.

#####**Solution**

In [ ]:
iris_df = iris_df.drop(columns="petal length (cm)")
iris_df.head()

   sepal length  sepal width (cm)  petal width (cm)
0           5.1               3.5               0.2
1           4.9               3.0               0.2
2           4.7               3.2               0.2
3           4.6               3.1               0.2
4           5.0               3.6               0.2

#### **Exercise 4:** Insert a column called `number` with values of 1.

#### **Exercise 5:** Now drop the column `number`.

#### For Exercise 6, we're going to use a dataset about school attendance.

In [ ]:
school_df = pd.DataFrame({"#": [1004], "Total count of children attending": [1450], "DT": "05-03-2017"})
school_df.head()

      #  Total count of children attending          DT
0  1004                               1450  05-03-2017

#### **Exercise 6:** Change the column names in `school_df` as stated below: 

* "#" to `id`

* "Total count of children attending" to `attendance`

* "DT" to `date`

### **Practice #6**
---

#### **Exercise 1:** To complete Exercise 1, use the dataframe `company_df` that contains information, such as location of headquarters, about large tech companies.Since all of the values in `Founder` are Null values, remove the column from the dataframe.

In [ ]:
# create dataframe
company_df = pd.DataFrame(
  {'Company':['Google','Amazon','Infosys','Directi'],
  'Age':['21','23','38','22'],
  'NetWorth ($ bn)':[300, None, None, 1.3],
  'Founder':[None, None, None, None],
  'Headquarter-Country':['United States', None, 'India', 'India'] })
company_df

#### **Solution**

In [ ]:
# remove Founder feature

company_df = company_df.drop(columns = "Founder")
company_df

#### **Exercise 2:** Impute the Null entries of the column `Age` with their mean.

In [ ]:
df = pd.DataFrame(
  {'StudentId':['001','002','003','004','005','006','007','008','009','010'],
  'Age':[12, None, 14,10,12, None, None,10,12,13],
  'Subject':['Math','Science','Math', None, 'Math', 'Science','Math', None, 'Science', None]})
df

#### **Solution**

In [ ]:
#impute entries of Age column

mean_age =  df['Age'].mean()
df['Age'] = df['Age'].fillna(value = mean_age)
df

---

#### Back to Lecture

---

### Independent Work
---

We're going to spend some time using another practice dataset focused on a breast cancer diagnoses. 

More information about the dataset can be found here: https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Diagnostic)

##### **To start, import the dataset and create the dataframe using the code below.**

In [ ]:
#load the breast cancer dataset
data = datasets.load_breast_cancer()

# Read the DataFrame, first using the feature data
df = pd.DataFrame(data.data, columns=data.feature_names)

# Add a target column, and fill it with the target data
df['target'] = data.target

#### **Explore the dataset by answering the following questions:**

#### **Step 1:** How many variables are there?

####**Solution**

In [ ]:
#31
df.shape

#### **Step 2:** How many instances are there?

####**Solution**

In [ ]:
$569
df.shape

(569, 31)

#### **Step 3:** What is the data type of `perimeter error`?

#### **Step 4:** What is the mean for `mean area`?

#### **Step 5:** What is the median for `mean compactness`?

#### **Step 7:** What is the `mean area` for instance 15?

#### **Step 8:** What is the `mean symmetry` for instance 44?

#### **Step 9:** Print rows 33 through 42.

---
Copyright 2022 The Coding School, All rights reserved